.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* ***** NAVBAR ***** */

#navbar {
  /* background-color:lightgoldenrodyellow; */
  opacity: 90%;
  position: fixed;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(10px);
  /* border-bottom: 1px solid whitesmoke; */
}
.rs-navbar-item {
  color: black;
  /* border: solid white; */
  border-radius: 40px 90px 40px 90px;
}

#navContent {
  margin-left: 50px;
  font-size: 135%;
  color: #282c34;
}

.navIcon {
  color: #282c34;
  border-radius: 40px 90px 40px 90px;
}
.navIcon:hover {
  color: blanchedalmond;
}

#iconZone {
  margin-right: 50px;
}

.rs-navbar-brand {
  /* font-size: 155%; */
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-right: 50px;
  color: blanchedalmond;
}

/* ***** SECTION DIVS ***** */

#sectionContent {
  height: 100vh;
  background-color: #4CACBC;
  display: flex;
  flex-direction: column;
}

#contactContent {
  height: 100vh;
  background-color: #4CACBC;
  min-height: 100%;
  overflow: auto;
}

.sectionHeader {
  align-items: flex-start;
  /* border: solid red; */
  color: #AEFEFF;
  display: flex;
  font-size: 10vh;
  line-height: 110px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: 35%;
  /* position: relative; */
  text-align: left;
}


/* CONTENT LIT */

.contentLit {
  /* border: solid yellow; */
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.para {
  /* margin-left: 200px; */
  margin-top: 30px;
  /* border: solid red; */
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 1.8em;
  text-align: left;
  max-width: 50%;
}

.custom-slider {
  /* width: 100%; */
  height: 550px;
  border-radius: 100px 100px 20px 20px;
  background-color: #4FBDBA;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 30px;
}

.custom-slider h1 {
  color: #072227;
}

#caroDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  align-content: center;
  /* border: solid red; */
  /* margin-left: 25%; */
  margin: auto;
  /* padding: 70px; */
}

.carouselSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px blanchedalmond; */
  /* background-color: #4CACBC; */
  border-radius: 100px 100px 20px 20px;
  padding-bottom: 10px;
}

.rs-carousel-slider-item {
  background-color: #4FBDBA;
  width: 200px;
}

.rs-carousel-label:after {
  border: solid #AEFEFF 1px;
  border-radius: 10px;
  background-color: #4CACBC;
}

.rs-carousel-label:hover {
  /* border: solid #4CACBC 1px; */
  background-color: #4CACBC;
}

.rs-btn:hover {
  /* border-bottom: solid red; */
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.24), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  background-color: #AEFEFF;
  color: black;
}

/* .drawerWords1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* ***** TECHNOLOGIES SECTION ***** */

.rs-col {
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  background-color: #4FBDBA; 
  color: black;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.techCategory {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: 700;
  color: #AEFEFF;
  margin: 40px;
  /* border: solid red; */
}

.grid {
  display: flex;
  flex-direction: row;;
  /* border: solid red; */
}

.show-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* border: solid green; */
  padding-left: 40px;
  padding-right: 40px;
}

/* ***** CONTACT SECTION ***** */

a {
  display: flex;
  flex-direction: row;
  transition-duration: 400ms;
  border-radius: 40px 90px 40px 90px;
  /* border: solid red; */
  padding: 10px;
  color: blanchedalmond;

}

a:hover {
  transition-duration: 500;
  color: #4CACBC;  
  text-decoration: none; 
  background-color: blanchedalmond;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.rs-drawer-header {
  background-color: #4FBDBA;
  /* color: #AEFEFF; */
  color: black;
}
.rs-drawer-body {
  background-color: #AEFEFF;
}

.rs-drawer-header-close {
  color: white;
}