.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* ***** NAVBAR ***** */

#navbar {
  /* background-color:lightgoldenrodyellow; */
  opacity: 80%;
  position: fixed;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid whitesmoke;
}

#navContent {
  margin-left: 50px;
  font-size: 135%;
  color: #282c34;
}

.navIcon {
  color: #282c34;
}

#iconZone {
  /* margin-right: 50px; */
}

.rs-navbar-brand {
  /* font-size: 155%; */
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-right: 50px;
}

/* ***** SECTION DIVS ***** */

#welcomeContent {
  height: 100vh;
  background-color: lightsteelblue;
}

#projectsContent {
  height: 100vh;
  background-color: slateblue;
}

#technologiesContent {
  height: 100vh;
  background-color: lightsteelblue;
}

#aboutContent {
  height: 100vh;
  background-color: slateblue;
}

#contactContent {
  height: 100vh;
  background-color: lightsteelblue;
}

.sectionHeader {
  align-items: flex-start;
  /* border: solid red; */
  color: blanchedalmond;
  display: flex;
  font-size: 10vh;
  line-height: 110px;
  margin-left: 200px;
  margin-top: 150px;
  max-width: 35%;
  /* position: relative; */
  text-align: left;
}

.rs-placeholder-paragraph-graph-image {
  margin-left: 50px;
}

/* CONTENT LIT */

.contentLit {
  /* border: solid yellow; */
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.para {
  /* margin-left: 200px; */
  margin-top: 30px;
  /* border: solid red; */
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 1.8em;
  text-align: left;
  max-width: 50%;

}
#projContainer {
  /* border: solid yellow; */
  display: flex;
  flex-direction: row;
}

/* #projDiv {
  border: solid white;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  margin-left: 200px;
  margin-top: 100px;
  flex-direction: row;
  justify-content: space-evenly;
  
} */

.custom-slider {
  width: 100%;
  height: 400px;
  border-radius: 100px 100px 20px 20px;
  /* display: flex; */
  /* background-color: white; */
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.custom-slider h1 {
  color: green;
}

#caroDiv {
  display: flex;
  justify-content: center;
  align-self: center;
  /* border: solid red; */
}

.carouselSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px blanchedalmond; */
  border-radius: 100px 100px 20px 20px;
}

.rs-carousel-slider-item {
  background-color: lightskyblue;
}

/* ***** TECHNOLOGIES SECTION ***** */

.rs-col {
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
  background-color: blanchedalmond;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.techCategory {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  font-weight: 700;
  color: slateblue;
  margin: 40px;
  /* border: solid red; */
}

.grid {
  display: flex;
  flex-direction: row;;
  /* border: solid red; */
}

.show-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* border: solid green; */
  padding-left: 40px;
  padding-right: 40px;
}

/* ***** CONTACT SECTION ***** */

a {
  transition-duration: 400ms;
  border-radius: 40px 90px 40px 90px;
  padding: 10px;
  color: blanchedalmond;
}

a:hover {
  transition-duration: 500;
  color: lightsteelblue;  
  text-decoration: none; 
  background-color: blanchedalmond;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}