.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#navbar {
  background-color:lightgoldenrodyellow;
  padding-right: 20px;
  opacity: 90%;
  /* overflow: hidden; */
  position: sticky;
  top: 0;
}

.navIcon {
  color: black;
}

#projectsContent {
  height: 100vh;
  background-color: goldenrod;
}
#technologiesContent {
  height: 100vh;
  background-color: lightcyan;
}